/* GROUP ATOMS / (NON-CORE) / UTILITIES
=================================================== */
/* Drop Cap */
/* .u-drop-cap, */
/* Organisms > Entry Content */
header + .entry-content::first-letter {
    float: left;
    font-size: 3.1em;
    line-height: 1;
    margin-block-end: -1.5rem;
    margin-right: 0.5rem;
}
/* GROUP ATOMS / (NON-CORE) / UTILITIES / CENTERING
=================================================== */
/* Notes...
    
    - Centering is handled through CSS @apply rules where possible

*/
.u-center-inline {
    @apply --u-center-inline;
}

.u-center-inline-2 {
    margin-left: auto;
    margin-right: auto;
}

.u-center-inline-3 {
    /* Distribute evenly */
    display: flex;
    justify-content: space-between;
    /* Like clearing floats */
    align-items: baseline;
}

.u-center-inline-absolute: {
    position: absolute;
    left: 0;
    right: 0;
}

.u-center-inline-absolute-2: {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.u-center-inline-text: {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* GROUP ATOMS -- UTILITIES -- CENTERING -- HORIZONTAL AND VERTICAL
=================================================== */
.u-center-inline-and-vertical-2: {
    display: flex;
    justify-content: center;
    align-items: center;
}

.u-center-inline-and-vertical: {
    position: absolute!important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.u-center-inline-and-vertical-3: {
    position: absolute!important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.u-center-vertical-2: {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.u-center-vertical-3: {
    vertical-align: middle;
    text-align: center;
}


/* Blocks */
/* Notes...

    Useful on items like menus

*/
.u-center-inline-blocks {
    text-align: center;
}

.u-center-inline-blocks__block {
    display: inline-block;
    /* Apparently this is ignored because of display: inline-block: so might not be needed. Need to confirm */
    /* float: none; */
}
/* HTML Example...

    <div class="u-center-inline-blocks">
        <div class="u-center-inline-blocks__block">
            Some block that you want to float in the middle
        </div>
        <div class="u-center-inline-blocks__block">
            Another block that you want to float in the middle
        </div>
    </div>

*/
/* GROUP ATOMS / (NON-CORE) / UTILITIES / LISTS / FLOATED LIST
=================================================== */
/* ul*/.u-list-inline li {
    display: inline-block;
}
/* GROUP ATOMS / (NON-CORE) / UTILITIES / LISTS / NONE
=================================================== */
/* ul*/.u-list-style-none,
.u-list-style-none ul,
.u-list-style-none ol,
/* Organisms > Comments > Perch */
/* ol */.o-comment-list,
/* Molecules > Forms > (Non Core) > Hubspot */
body ul.hs-error-msgs,
/* Organisms > Entry > Entry Meta > Categories And Tags */
.entry-categories-and-tags ul {
    padding-inline-start: 0!important;
}

/* ul*/.u-list-style-none li,
/* Organisms > Comments > Perch */
/* ol */.o-comment-list li,
/* Organisms > Entry > Entry Meta > Categories And Tags */
.entry-categories-and-tags li {
    list-style: none;
    /* =JFG. Trump .s-entry-content */
    padding-inline-start: 0!important;
    margin-left: 0!important;
}
/* GROUP ATOMS / (NON-CORE) / UTILITIES / DECORATION / LINKS
=================================================== */
.u-link-style-none,
.u-link-style-none * {
    text-decoration: none;
}

/* This modifier is more aggressive. You may want to use it on something like the logo */
.u-link-style-none--2:hover,
.u-link-style-none--2:hover *,
.u-link-style-none--2 *:focus,
/* Organisms > (Non Core) > Overlay */
.o-overlay__preview__main-heading * {
    text-decoration: none;
    border-bottom: 0;
}