/*! Notes...

    Author: Jay George
    Author URI: https://jaygeorge.co.uk

    ABOUT THIS CSS
    ===================================================
    - Only edit filename.css, then process with Codekit to output into prod/
    - Class name prefixes are influenced by Namespaces article - http://csswizardry.com/2015/03/more-transparent-ui-code-with-namespaces/
        - I would usually drop the .c- namespace since everything is an inferred component unless prefixed otherwise BUT using the c- namespace makes it much easier to search and replace since classes are more unique. A good example is if you wanted to call a class .article. Replacing that would be a nightmare because you'd also run into article elements.
    - If other class name prefixes are used then they are based on microformats
    - Class relationships are based on BEM structure
    - Order of CSS influenced by ITCSS - https://twitter.com/itcss_io
    - Layout snippets inspired by https://smolcss.dev/
    - Where CSS groups include framework names such as WordPress or Genesis it means HTML/CSS in this group is based on these solid frameworks

    For more information open `readme.css`

*/
:root {
    /* GROUP VARIABLES -- SPACING
    =================================================== */
    --spacing-s-x-x: 0.25rem;
    --spacing-s-x: 0.45rem;
    --spacing-s: 0.8rem;
    --spacing-s-1: 1.1rem;
    --spacing-s-2: 1.35rem;

    --spacing-m: 1.5rem;

    --spacing-l: 1.8rem;
    --spacing-l-static: 1.8rem;

    --spacing-l-1: 2.5rem;
    --spacing-l-1-static: 2.5em;

    --spacing-l-2: min(11.5vw, 4.2rem);
    --spacing-l-2-horizontal: min(7vw, 4.2rem);
    /* Smaller value for mobile */
    --spacing-l-3: min(20vw, 4.7rem);
    --spacing-l-3-horizontal: var(--spacing-l-1);
    --spacing-l-4: min(22vw, 7rem);
    --spacing-l-4-static: 7rem;
    /* or */
    /* --spacing-l-4: min(25vw, 9.5rem); */

    --spacing-vh-s: min(18vw, 15vh);
    --spacing-vh-m: 25vh;

    --button-spacing-vertical: 1rem;
    --button-spacing-horizontal: 1.5rem;
    /* GROUP VARIABLES -- LAYOUT -- CONSTRAINTS -- MAX
    =================================================== */
    /* From lowest to highest value */
    --max-width-reading-short: 22rem;
    --max-width-reading: 36rem;
    --max-width-title: 53rem;
    --max-width-1: 75rem;
    --max-width-2: 85rem;
    /* GROUP VARIABLES -- LAYOUT -- Z-INDEX
    =================================================== */
    --z-index-above-body: 1;
    --z-index-above-nav: 2;
    /* GROUP VARIABLES -- DECORATION -- COLOURS -- THEME
    =================================================== */
    /* Dark to light */
    --colour-purple: hsl(254deg 66% 67%);
    --colour-purple-hsl: 254deg 66% 67%;
    --colour-purple-hue: 254deg 66%;
    --colour-purple-1: hsl(254deg 66% 77%);
    --colour-purple-2: hsl(254deg 66% 87%);

    --colour-purple-light: hsl(var(--colour-purple-hue) 93%);
    --colour-purple-transparent: hsl(var(--colour-purple-hsl) / 85%);

    --colour-focus: var(--colour-purple);
    /* GROUP VARIABLES -- DECORATION -- COLOURS -- THEME -- GRADIENTS
    =================================================== */
    --colour-gradient-orange: radial-gradient(ellipse at bottom right, hsl(41, 100%, 69%) 0%,hsl(25, 100%, 50%) 100%);

    /* GROUP VARIABLES -- DECORATION -- TEXT -- FONTS
    =================================================== */
    --font-family-main: adonis-web, serif;
    --font-family-headline: sans-serif;
    /* GROUP VARIABLES -- DECORATION -- TEXT -- STYLES
    =================================================== */
    --font-family-main-style-1: normal;
    --font-family-main-style-2: italic;
    --font-family-headline-style-1: normal;
    /* GROUP VARIABLES -- DECORATION -- TEXT -- WEIGHTS
    =================================================== */
    --font-family-main-weight-normal: 500;
    --font-family-main-weight-strong: 700;
    --font-family-headline-weight-normal: 500;
    --font-family-headline-weight-strong: 700;
    /* GROUP VARIABLES -- DECORATION -- TEXT -- SIZES
    =================================================== */
    /* Optimise line-height for reading */
    /* purgecss start ignore */
    --font-size-reading-line-height: 1.5;
    /* purgecss end ignore */

    --font-size-s-x-x: 0.707em;

    /* e.g. Outside scale. Sometimes I go outside scales because of my font-bump adjustmemts */
    /* Decreased at a later root breakpoint */
    /* --font-size-s-x: 0.9em; */
    /* -- */
    --font-size-s-x: 1em;
    --font-size-s-x-line-height: 1.3;
    --font-size-s-x-1: 1rem;
    --font-size-s: 1.1em;
    /* --font-size-s-2: clamp(1.3em, 7vw, 1.5em); */
    /* --font-size-s-2-line-height: 1.3; */
    /* -- */

    /* Based on Augmented Fourth - https://type-scale.com/ */
    --font-size-s-1: clamp(1.35em, 4vw, 1.414em);
    --font-size-s-1-line-height: 1.3;

    --font-size-m: clamp(calc(1.999em * 0.75), 6vw, 1.999em);
    --font-size-m-line-height: 1.185;
    
    --font-size-l: clamp(calc(2.827em * 0.8), 9vw, 2.827em);
    --font-size-l-line-height: 1.15;

    --font-size-l-1: clamp(calc(3.998em * 0.8), 11vw, 3.998em);
    --font-size-l-1-line-height: 1.15;

    --font-size-l-2: clamp(calc(5.653em * 0.618), 12vw, 5.653em);
    --font-size-l-2-line-height: 1;
    /* Smaller for entries, where typically titles are longer. If you need further control you can do something like @media (max-width: 499px) { .s-entry-header--with-long-title { font-size: 0.74em; } } */
    --font-size-l-2-entry: clamp(calc(5.653em * 0.75), 11vw, 5.653em);
    --font-size-l-2-line-height: 1.1;
    --font-size-l-2-entry-line-height: 1.1;
    /* GROUP VARIABLES -- DECORATION -- TEXT -- OTHER
    =================================================== */
    --letter-spacing-s: 3px;
    --letter-spacing-m: 5px;
    --letter-spacing-l: 7px;
    /* GROUP VARIABLES -- DECORATION -- BORDER RADIUS
    =================================================== */
    --border-radius-s: 3px;
    --border-radius-m: 5px;
    --border-radius-l: 7px;
    /* GROUP VARIABLES -- ANIMATIONS -- TRANSITIONS
    =================================================== */
    /* Molecules > Pagination > Perch > (Cross Pollinated) */
    --animation-transition-fast: all 0.15s ease-in-out 0s;
}
/* --mq-root-variable-adjustments-1 */
@media (min-width: 450px) {
    :root {
        /* GROUP VARIABLES -- SPACING
        ===================================================  */
        --spacing-l: 3rem;
        --spacing-l-1: 3.5rem;
    }
}
/* --mq-root-variable-adjustments-2 */
@media (min-width: 730px) {
    :root {
        --spacing-l-3-horizontal: var(--spacing-l-3);
    }
}
/* --mq-text-bump-reduce-for-lower-resolution-displays */
/* Notes...

- Bear in mind users on smaller laptops do _not_ see things how you see things at a window width of 1440px. You can check exactly how they see it by going to System Preferences > Displays > Scaled
- See Targeting DPI in my wiki for more info

*/
/* --mq-root-variable-adjustments-smaller-laptops-after to --mq-root-variable-adjustments-larger-laptops-before */
@media (min-width: 1025px) and (max-width: 1440px) {
    :root {
        /* purgecss start ignore */
        /* Decrease */
        --font-bump: -0.09em;
        /* and possibly... */
        /* --font-size-l-4: calc(9.313em + 0.75em)!important; */
        /* purgecss end ignore */
    }
}
/* --mq-text-bump-1-after */
@media (min-width: 1600px) {
    :root {
        /* GROUP VARIABLES -- DECORATION -- TEXT -- SIZES
        =================================================== */
        /* Decrease */
        --font-size-s-x: 0.9em;
        /* GROUP VARIABLES -- DECORATION -- TEXT -- SIZES -- BUMPS
        =================================================== */
        /* Increase */
        --font-bump: 0.115vw;
    }
}
/* --mq-text-bump-2-after */
@media (min-width: 1800px) {
    :root {
        /* GROUP VARIABLES -- SPACING
        =================================================== */
        /* Decrease */
        --spacing-vh-m: 22vh;
        /* GROUP VARIABLES -- DECORATION -- TEXT -- SIZES -- BUMPS
        =================================================== */
        /* Increase */
        --font-bump: 0.15vw;
    }
}
/* --mq-text-bump-3-after */
@media (min-width: 2300px) {
    :root {
        /* GROUP VARIABLES -- DECORATION -- TEXT -- SIZES -- BUMPS
        =================================================== */
        /* Increase */
        --font-bump: 0.25vw;
    }
}




/* purgecss start ignore */
/* GROUP RESET / FRAMEWORK - Taken from html5boilerplate.com
=================================================== */
/* These are recommended rules so we don't want to lint them */
audio,canvas,iframe,img,svg,video {
    vertical-align: middle;
}
/* GROUP RESET / FRAMEWORK / NORMALISE - 2020-03-09 - https://necolas.github.io/normalize.css
=================================================== */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}
/* GROUP ELEMENTS / FRAMEWORK
=================================================== */
*,
*::before,
*::after {
    /* Prevent flickering.
    When you click a link or a button or a div that has a click function on it, 
    usually a grey box flickers. The below prevents that. Source: http://goo.gl/MZ4Dr5 */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    /* http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
    /* Don't do *::before, *::after - this has caused me performance problems before with flickering images */
    box-sizing: border-box;
}

/* https://twitter.com/bramus/status/1452572001697153029 */
/* html,
body {
    background: ;
} */

/* =JFG. HTML default e.g. when we are separating lines with <br> like addresses in proposals */
html {
    font-size: calc(1em + var(--font-bump));
    /* Opinion on this will differ depending on the font you choose. Do not carpet bomb line height with a * selector though */
    line-height: 1.5;
    /* https://web.dev/accent-color/ */
    accent-color: hotpink;
}

body {
    /* https://app.typographychecklist.com/ - 23. Use standard ligatures but avoid using discretionary ligatures in body text */
    font-feature-settings: "kern", "liga", "clig", "calt";
    font-family: var(--font-family-main);
}

/* Prevent images stretching too much */
/* =JFG. Use display:inline-block to prevent white space (read full answers here...) http://stackoverflow.com/questions/5804256/why-an-image-inside-a-div-has-an-extra-space-below-the-image */
img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

/* ::selection {
    background: light color;
    color: dark color;
} */

/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure,
blockquote {
    margin-block-end: 0;
    margin-block-start: 0;
}

/* Reset */
figure {
    margin-inline-start: 0;
    margin-inline-end: 0;
}

figure img {
    /* Push the caption away from the image */
    margin-block-end: var(--spacing-s);
}

ul {
    padding-inline-start: 0;
}

/* Don't affect nav */
main li {
    padding-block-end: var(--spacing-s-x);
}

dl,
dt,dd,
th,
td {
    padding-block-end: var(--spacing-s);
}

p {
    padding-block-end: var(--spacing-s-1);
}

p:last-child {
    padding-block-end: 0;
}

p,
ol,
ul {
    line-height: var(--font-size-reading-line-height);
}

/* Nested lists */
ol ol,
ol ol li:last-child,
ul ul,
ul ul li:last-child {
    padding-block-end: 0;
}

p + ul {
    padding-block-start: var(--spacing-s);
}

strong {
    font-weight: var(--font-family-main-weight-strong);
}
/* purgecss end ignore */



/* GROUP ELEMENTS / FRAMEWORK / HEADINGS
=================================================== */
/* purgecss start ignore */
:where(h1, .h1, h1 a, .h1 a, h2, .h2, h2 a, .h2 a, h3, .h3, h3 a, .h3 a) {
    font-family: var(--font-family-headline);
    font-style: var(--font-family-headline-style-1);
    font-weight: var(--font-family-headline-weight-normal);
    /* https://app.typographychecklist.com/ 91 - Use discretionary ligatures and swashes in headlines */
    font-feature-settings: "kern", "liga", "clig", "calt", "dlig", "swsh";
}
/* purgecss end ignore */

h4,
.h4,
h4 a,
.h4 a {
    font-family: var(--font-family-headline);
    font-style: var(--font-family-headline-style-1);
    font-weight: var(--font-family-headline-weight-normal);
}

/* --- */

/* purgecss start ignore */
h1,
.h1 {
    font-size: var(--font-size-l);
    line-height: var(--font-size-l-line-height);
}

h2,
.h2 {
    font-size: var(--font-size-m);
    line-height: var(--font-size-m-line-height);
}

h3,
.h3 {
    font-size: var(--font-size-s-2);
    line-height: var(--font-size-s-2-line-height);
}
/* purgecss end ignore */

h4,
.h4 {
    font-size: var(--font-size-s-1);
    line-height: var(--font-size-s-1-line-height);
}

h5,
.h5 {
    font-size: var(--font-size-s);
    line-height: var(--font-size-s-line-height);
}

h6,
.h6 {
    font-size: var(--font-size-s-x-1);
    line-height: var(--font-size-s-x-1-line-height);
}
/* GROUP ELEMENTS / FRAMEWORK / HEADINGS / HIGH PRIORITY / VERTICAL SPACING
=================================================== */
/* purgecss start ignore */
h1,
.h1,
h2,
.h2 {
    padding-block-end: var(--spacing-s-1);
}

* + h1,
* + .h1,
/* e.g. Objects > Counters */
* > h1,
* > .h1,
* + h2,
* + .h2,
article + article {
    padding-block-start: var(--spacing-l);
}
/* GROUP ELEMENTS / FRAMEWORK / HEADINGS / LOW PRIORITY / VERTICAL SPACING
=================================================== */
:where(h3, .h3) {
    padding-block-end: var(--spacing-s-x);
}

* > h2,
* > .h2 {
    padding-block-start: var(--spacing-m);
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
    padding-block-end: var(--spacing-s-x-x);
}

* + h3,
* + .h3,
/* e.g. p followed by a div followed by an h3 */
* > h3:not(:first-child),
* > .h3:not(:first-child),
* + h4,
* + .h4,
/* e.g. p followed by a div followed by an h4 */
* > h4,
* > .h4 {
    padding-block-start: var(--spacing-s);
}
/* GROUP ELEMENTS / FRAMEWORK / HEADINGS / EXCEPTIONS / VERTICAL SPACING
=================================================== */
ul + h2,
ul + .h2 {
    padding-block-start: var(--spacing-s);
}

h1 + h2,
h1 + .h2,
.h1 + .h2,
h2 + h3,
hr + * {
    padding-block-start: 0;
}
/* purgecss end ignore */



/* GROUP ELEMENTS / FRAMEWORK / MAIN
=================================================== */
main:focus {
    outline: none;
}

main {
    margin-bottom: var(--spacing-l-1);
}

main > *:last-child {
    padding-block-end: 0;
}




/* GROUP ELEMENTS / FRAMEWORK / NAV
=================================================== */
nav {
    clear: both;
    display: block;
    width: 100%;
}

/* nav*/
.o-nav-flex ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-m);
    padding-inline: 0;
}

/* --mq-nav-open-after */
@media (min-width: 768px) {
    .o-nav-flex ul {
        flex-direction: row;
        justify-content: flex-end;
    }
}

nav li {
    position: relative;
}

nav li a {
    /* Needed to better vertically align */
    display: flex;
}



/* GROUP ELEMENTS / FRAMEWORK / SVGs
=================================================== */
/* purgecss start ignore */
/* https://twitter.com/andybelldesign/status/1098915626050117633 */
:is([src*="svg"], svg) {
    width: 1em;
    height: 1em;
    fill: currentColor;
}

:is(h1, h2, h3, h4, h5, h6, p) svg {
    vertical-align: baseline;
    margin-right: var(--spacing-s-x);
}

/* Notes...

    - use a span to ensure first-child/last-child selector works e.g.

    <div class="btn">
        <a href="">
            <span>Some text</span>
            <svg />
        </a>
    </div>

*/
a > :is(svg, [src*=".svg"]):first-child:not(:last-child) {
    margin-right: var(--spacing-s-2);
}

a > :is(svg, [src*=".svg"]):last-child:not(:first-child) {
    margin-left: var(--spacing-s-2);
    margin-right: 0;
}

.c-btn a > :is(svg, [src*=".svg"]):first-child:not(:last-child) {
    margin-right: var(--spacing-s);
}

.c-btn a > :is(svg, [src*=".svg"]):last-child:not(:first-child) {
    margin-left: var(--spacing-s);
    margin-right: 0;
}

.c-btn svg {
    font-size: 1.1em;
}
/* purgecss end ignore */



/* GROUP ELEMENTS / FRAMEWORK / TEXT / LINK STYLES {/ LINKS }
=================================================== */
/* Notes...

    - Link styles are stored as group selectors rather than scattered, since we have multiple properties here.
    - Do not put transitions on all links, it makes keyboard navigation feel slower. Instead, use transition animations on an individual basis e.g. skip-to-content

*/

/* Default */
a,
button {
    text-decoration-skip-ink: auto;
    color: #444;
}

/* .u-link-style-1 a, */
/* Components > Framework > Entry > Entry Content */
.s-entry-content a {
    text-decoration-line: none;
    color: var(--colour-turquoise);
}
/* GROUP ELEMENTS / FRAMEWORK / TEXT / LINK STYLES {/ LINKS} / ACCESSIBILITY / FOCUS
=================================================== */
/* purgecss start ignore */
/* .u-link-style-custom-1:focus a, */
a:focus,
.c-nav-mobile-button:focus svg,
summary:focus,
.c-btn a:focus,
button:focus,
/* Elements > Framework > Forms */
input:focus,
textarea:focus {
    outline: 4px solid blue;
}

/* Elements > Framework > Forms */
input:focus,
textarea:focus {
    /* Light colour here */
    background: seashell;
}

p a:focus {
    /* Offset for text */
    outline-offset: 5px;
}

nav a:focus {
    /* Increase */
    outline-offset: 10px;
}
/* GROUP ELEMENTS / FRAMEWORK / (NON CORE) / TEXT / LINK STYLES {/ LINKS} / ACCESSIBILITY / FOCUS -- remove for mouse
=================================================== */
/* purgecss start ignore */
/* Notes...

    Remove Focus Styles for Mouse Users
    -----------------------------------
    - You can use https://github.com/WICG/focus-visible to cancel focus styles for mouse users
    [1] Add it like this - <script src="js/focus-visible.js" async></script>

*/
/* Native for browsers that support it - https://caniuse.com/#search=focus-visible
https://twitter.com/LeaVerou/status/1045836563505188867 */
:focus:not(:focus-visible),
:focus:not(:focus-visible) * {
    outline: none!important;
}
/* purgecss end ignore */

/* Temp until Safari supports focus-visible, targeting touch devices. This is stinky code so don't include it by default, and remove it when Safari supposts focus-visible */
/* @media (hover: none) {
    :focus {
        outline: none!important;
    }
} */
/* GROUP ELEMENTS / FRAMEWORK / TEXT / LINK STYLES {/ LINKS} / ACCESSIBILITY / HOVER
=================================================== */
a:hover {
    text-decoration-color: black;
}

/* Notes...

    - Use "u-link-style-custom" prefix then these are pretty much rare/1 off
    - Still include them in this group so we can see all link styles for easy maintenance

*/
.s-entry-content a:hover,
.u-link-style-custom-1:hover a {
    color: var(--colour-grey-reading);
}
/* purgecss end ignore */




/* GROUP COMPONENTS / FRAMEWORK / SKIP LINKS
=================================================== */
/* purgecss start ignore */
/* .u-screen-reader*/
.c-skip-to-content:focus {
    position: fixed!important;
    z-index: 1;
    top: 0;
    left: 0;
    padding: var(--spacing-s-1) var(--spacing-l);
    font-size: var(--font-size-s-x);
    color: var(--colour-grey);
    outline: none;
    /* Looks better on Skip to Content */
    text-underline-position: auto;
}
/* purgecss end ignore */




/* GROUP COMPONENTS / FRAMEWORK / SLIDE (WITH OPTIONAL BACKGROUND IMAGE)
=================================================== */
/* Notes...

    - Use to introduce hero-like text, occupying most of the screen vertically
	- Uses a background-image rather than absolutely positioning an img with object-fit, which makes it less hacky
    - Disadvantage is that you can't natively lazy-load images

*/
/* HTML Example...

    <div class="c-slide c-slide--with-background" style="background-image: url('/img/'); background-position: bottom;">
        <div class="c-slide__hero-text">
            <h2>Headline</h2>
            <p>Or paragraph</p>
        </div>
        some other components
    </div>

*/
/* Statamic Example...

    Here we use the filename to create a CSS ID for the inline stylesheet to target.

    _head.antlers.html...

    {{# Inline dynamic CSS for .c-slide--with-background component #}}
    {{ background_image }}
    <style>
        #{{ background_image:filename }}.c-slide--with-background {
            background-image: url("{{ glide:url width='375' dpr='2' quality='80' }}");
        }
        @media (min-width: 1500px) {
            #{{ background_image:filename }}.c-slide--with-background {
                background-image: url("{{ glide:url width='1680' dpr='2' quality='80' }}");
            }
        }
    </style>
    {{ /background_image }}

    _yourtemplatefile.antlers.html...

    <div id="{{ background_image:filename }}" class="c-slide c-slide--with-background c-slide--with-vertically-centered-first-element">
        <div class="c-slide__hero-text">
            <h2>An independent, full-service agency providing strategic consultancy for <em>luxury</em><br/> & premium brands.</h2>
        </div>
    </div>

*/
/* Modifiers...

    .c-slide--with-background
    .c-slide--with-vertically-centered-first-element <-- e.g. if you want text to appear vertically 'centered'

*/
/* GROUP COMPONENTS / FRAMEWORK / SLIDE (WITH OPTIONAL BACKGROUND IMAGE) / LAYOUT
=================================================== */
.c-slide {
    position: relative;
    min-height: 100vh;
}

.c-slide__hero-text {
    max-width: var(--max-width-2);
    margin-inline: auto;
}

.c-slide--with-background > * {
    position: relative;
    z-index: var(--z-index-above-body);
}

.c-slide__hero-text :where(h1, h2, h3) {
    max-width: var(--max-width-title);
}
/* GROUP COMPONENTS / FRAMEWORK / SLIDE (WITH OPTIONAL BACKGROUND IMAGE) / SPACING
=================================================== */
.c-slide__hero-text {
    padding-inline: var(--spacing-l);
}

.c-slide > *:last-child {
    /* e.g. when marketing-text is at the bottom of a slide */
    padding-block-end: 0;
}

.c-slide--with-vertically-centered-first-element {
    padding-block-start: 0;
}

.c-slide--with-vertically-centered-first-element .c-slide__hero-text {
    padding-block-start: 50vh;
}
.c-slide--with-vertically-centered-first-element .c-slide__hero-text > * {
    transform: translateY(-50%);
}
/* GROUP COMPONENTS / FRAMEWORK / SLIDE (WITH OPTIONAL BACKGROUND IMAGE) / DECORATION
=================================================== */
.c-slide__hero-text :where(h1, h2, h3) {
    font-size: var(--font-size-l-1);
    line-height: var(--font-size-l-1-line-height);
}

.c-slide--with-background {
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: top; */
    color: white;
}

.c-slide--with-background::before {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(110deg, hsl(20 30% 3% / 1) 0%, transparent 100%);
}




/* GROUP COMPONENTS / FRAMEWORK / BUTTONS
=================================================== */
/* purgecss start ignore */
/* Notes...

    Wrap the .c-btn around the a href instead of the other way around because this is the most valid HTML.
    http://stackoverflow.com/questions/5320404/wrap-link-a-around-div

    <div class="btn">
        <a href>
        </a>
    </div>

*/

/* anchor instead of just .c-btn because the browser focusses on the a element, which is the background color we want to change 
should be...
*/
.c-btn a,
/* For when you add a button with JS and it doesn't have an anchor */
.js--btn,
/* Components > Framework > Nav */
button.c-btn,
/* Override form background default */
/* e.g. Components > Framework > Comments */
[type="submit"] {
    /* display: inline-block; */
    /* e.g. icons in buttons */
    display: flex;
    align-items: center;
    text-align: left;
    gap: 1rem;
    /* I've found it more stable to use pxls rather than ems. */
    --button-spacing: var(--button-spacing-vertical) var(--button-spacing-horizontal);
    padding: var(--button-spacing);
    /* Optional */
    /* font-size: 1.1rem; */
    /* line-height: 1.3; */
    /* margin-right: 1rem; Don't do this because if the button is centered it will not be centered correctly */
    text-decoration-line: none;
    cursor: pointer;
    /* =JFG. Hover states with a slight delay, but focus without any because keyboard users want quick feedback. Do not use 'all' because it resizes slowly when resizing the browser window */
    transition: background-color 0.2s ease 0s;
}

/*
    - Don't affect the header
    - Not .c-btn + .c-btn in case a button is next to a different tag such as <p/>
*/
main .c-btn,
main button {
    margin-right: 1rem;
}

.c-btn:last-child {
    margin-right: 0;
}

.c-btn {
    position: relative;
    display: inline-block;
    /* Components > Framework > Forms > Layout */
    margin-block-end: 1.25rem;
}

.c-btn a {
    /* e.g. icons in buttons */
    display: flex;
    align-items: center;
    text-align: left;
}

button,
[type="search"],
[type="submit"] {
    /* =JFG. Cancel default button appearance */
    -webkit-appearance: none!important;
    border: none;
}

button {
    /* =JFG. Cancel default button appearance */
    background: none;
    /* To combat -apple-system-blueinput on iOS 15 */
    color: initial;
}

button svg {
    font-size: 1.3em;
}
/* purgecss end ignore */
/* GROUP COMPONENTS / FRAMEWORK / BUTTONS / TYPES
=================================================== */
/* 1 */


/* 2 */
.c-btn--2 a,
button.c-btn--2,
/* e.g. Components > Framework > Forms > Layout */
.c-form [type="submit"] {
    background: var(--colour-turquoise);
    color: white;
    border-radius: var(--border-radius-s);
}


/* 3 */
.c-btn--3 a {
    background: var(--colour-grey-light-4);
    border-radius: var(--border-radius-s);
}
/* GROUP COMPONENTS / FRAMEWORK / BUTTONS / ACCESSIBILITY / HOVER
=================================================== */
/* These should be slightly different to focus states. Subtle effects such as changing the background color from blue to darkblue are best for hover. We want to gently suggest rather than pop out (opposite of focus states).

    - Consider darkening the background color slightly e.g. blue to darkblue
    - Here is a good example...
    https://material-components.github.io/material-components-web-catalog/#/component/button

*/
.c-btn a:hover {
    /* Cancel link hover effect */
    border-bottom: 0;
}

/* 1 */
/* .c-btn--background-transition-example a:hover {
    background-color: var(--colour-brown-dark);
} */

/* 2 */
/* .c-btn--2 a:hover {
    
} */




/* GROUP COMPONENTS / FRAMEWORK / SITE LOGO
=================================================== */
.c-site-logo svg {
    width: 100%;
    height: 100%;
    max-height: 2.5em;
    /* font-size: 1.6em; */
}




/* GROUP COMPONENTS / FRAMEWORK / SITE HEADER
=================================================== */
/* HTML Example...

    .c-site-header
        .c-site-header__site-logo
        .c-site-header__nav
        .c-site-header__cta

*/
/* GROUP COMPONENTS / FRAMEWORK / SITE HEADER / LAYOUT
=================================================== */
/* GROUP COMPONENTS / FRAMEWORK / SITE HEADER / SPACING
=================================================== */
/* GROUP COMPONENTS / FRAMEWORK / SITE HEADER / DECORATION
=================================================== */




/* GROUP COMPONENTS / FRAMEWORK / NAV / CURRENT PAGE
=================================================== */
.c-current-menu-item > a span {
    color: var(--colour-turquoise);
}




/* GROUP COMPONENTS / FRAMEWORK / MARKETING CONTENT
=================================================== */
/* HTML Example...

    .c-marketing-content
        h2
        p

*/
/* GROUP COMPONENTS / FRAMEWORK / MARKETING CONTENT / LAYOUT
=================================================== */
.c-marketing-content {
    max-width: var(--max-width-1);
    margin-inline-start: auto;
    margin-inline-end: auto;
    text-align: center;
}
/* GROUP COMPONENTS / FRAMEWORK / MARKETING CONTENT / SPACING
=================================================== */
.c-marketing-content {
    padding: var(--spacing-l-3) var(--spacing-l);
}
/* GROUP COMPONENTS / FRAMEWORK / MARKETING CONTENT / DECORATION
=================================================== */




/* GROUP SCOPE / FRAMEWORK / ENTRY / ENTRY CONTENT
=================================================== */
/* Notes...

    - Based on WordPress Genesis Entry Content but tailored for neutral frameworks

*/
/* GROUP SCOPE / FRAMEWORK / ENTRY / ENTRY CONTENT / LAYOUT
=================================================== */
/* purgecss start ignore */
.s-entry-content {
    max-width: var(--max-width-reading);
}
/* GROUP SCOPE / FRAMEWORK / ENTRY / ENTRY CONTENT / SPACING
=================================================== */
.s-entry-content {
    padding-inline-start: var(--spacing-l);
    padding-inline-end: var(--spacing-l);
    padding-block-end: var(--spacing-l);
}

.s-entry-content :is(ol, ul) {
    padding-inline-start: 0.8rem;
}

.s-entry-content p + :is(ol, ul) {
    padding-block-start: var(--spacing-s);
    padding-block-end: var(--spacing-l);
}

.s-entry-content li :is(ol, ul) {
    /* e.g.

    <ul>
        <li>something</li>
        <li>something else
            <ol> <-- we don't want this to have extra padding

    */
    padding-inline: 0;
    padding-block-start: 0;
}

.s-entry-content li {
    /* e.g. ul li */
    padding-inline-start: var(--spacing-s-x-x);
}

/* Bard wraps <li> text in a <p> tag */
.s-entry-content li p:only-child {
    padding-block-end: 0;
}

.s-entry-content > .h1 {
    padding-block-start: 0;
}

/* e.g. when we have .s-entry-child divs following each other with blocks */
.s-entry-content:last-child,
/* e.g. cancel the last p tag from adding to the VERTICAL SPACING */
.s-entry-content > *:last-child {
    padding-block-end: 0;
}

/* e.g. an img output wrapped in a figure element */
.s-entry-content figure {
    margin: 0;
}
/* GROUP SCOPE / FRAMEWORK / ENTRY / ENTRY CONTENT / DECORATION
=================================================== */
/* e.g. an img output wrapped in a figure element */
/* .s-entry-content figure {
    
} */
/* purgecss end ignore */




/* GROUP UTILITIES / FRAMEWORK
=================================================== */
.qa-test {
    border: 3px solid red!important;
}

/* Images without alt tags */
img[alt=""],
img:not([alt]) {
    border: 5px dashed red;
}

/* Components > Framework > Nav */
.no-js .u-js-only {
    display: none!important;
}

/* Text meant only for screen readers. */
/* Components > Framework > Nav */
.u-screen-reader-text {
    /* START SCREEN READER TEXT
    --------------------------- */
    clip: rect(1px, 1px, 1px, 1px);

    position: absolute!important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    /* END SCREEN READER TEXT
    ------------------------- */
}

/* Needed if the text should be visible on keyboard focus */
.u-screen-reader-text:focus {
    clip: auto!important;

    z-index: 100000; /* Above WP toolbar. */
    display: block;
    top: 0;
    left: 0;

    width: auto;
    height: auto;
}
/* GROUP UTILITIES / FRAMEWORK / LAYOUT / CONSTRAINTS / MAX
=================================================== */
[class*="u-width-max-"] {
    position: relative;
    max-width: var(--max-width-reading);
    margin-inline: auto;
}

.u-width-max-1 {
    max-width: var(--max-width-1);
}

.u-width-max-2 {
    max-width: var(--max-width-2);
}

.u-width-max--uncentered {
    margin-left: 0;
}
/* GROUP UTILITIES / FRAMEWORK / STATAMIC
=================================================== */
/* if ( window.location !== window.parent.location ) {
    // The page is in an iFrame and very likely being called by Statamic's Live Preview mode.
    // Use this class to selectively disable some animations since the page will be rapidly loaded on every keystroke
    document.querySelector('html').classList.add('js--live-preview');
} */
/* purgecss start ignore */
.js--live-preview *,
.js--live-preview *::before,
.js--live-preview *::after {
    animation-duration: 0s!important;
    animation-delay: 0s!important;
    /* Stop AOS tripping things up in case it does not get initialised */
    opacity: 1!important;
}