/* GROUP COMPONENTS / LOGO GRID
=================================================== */
/* Notes...

	- Based on https://css-irl.info/aspect-ratio-is-great/

*/
/* HTML Example...

    <div class="u-width-max-1 u-px-l">
        <div class="c-logo-grid">
            <div class="c-logo-grid__item">
                <img src="https://assets.codepen.io/85648/logo-made-up-company.svg" />
            </div>
            <div class="c-logo-grid__item">
                <img src="https://assets.codepen.io/85648/logo-pie-club.svg" />
            </div>
            <div class="c-logo-grid__item">
                <img src="https://assets.codepen.io/85648/logo-birdwatchers.svg" />
            </div>
            <div class="c-logo-grid__item">
                <img src="https://assets.codepen.io/85648/logo-vitamins.svg" />
            </div>
            <div class="c-logo-grid__item">
                <img src="https://assets.codepen.io/85648/logo-angry-jelly.svg" />
            </div>
        </div>
    </div>

*/
/* GROUP COMPONENTS / LOGO GRID / LAYOUT
=================================================== */
.c-logo-grid {
    display: grid;
    /* Prevent overflow on screens less than px value */
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 12em), 1fr));
    gap: var(--spacing-m);
}

.c-logo-grid__item {
    aspect-ratio: 3 / 2;
}

.c-logo-grid img {
    width: 100%;
    height: 100%;
}
/* GROUP COMPONENTS / LOGO GRID / SPACING
=================================================== */
.c-logo-grid__item {
    padding: var(--spacing-m);
}
/* GROUP COMPONENTS / LOGO GRID / DECORATION
=================================================== */
.c-logo-grid__item {
    box-shadow: 0.1rem 0.1rem 0.5rem rgb(0 0 0 / 0.05), 0.15rem 0.15rem 0.75rem rgb(0 0 0 / 0.1);
}
/* GROUP COMPONENTS / FRAMEWORK / (NON CORE) / LOGOS / DECORATION
=================================================== */
.c-logos__item img {
    /* filter: grayscale(100%) opacity(50%); */
}

/* Other exceptions */
/* p + .c-logos {
    padding-block-start: var(--spacing-l);
}  */