/* GROUP COMPONENTS / LOGO GRID
=================================================== */
/* Notes...

	- Based on https://css-irl.info/aspect-ratio-is-great/

*/
/* HTML Example...

    <div class="c-logo-grid">
        <div class="c-logo-grid__item">
            <img src="https://assets.codepen.io/85648/logo-made-up-company.svg" />
        </div>
        <div class="c-logo-grid__item">
            <img src="https://assets.codepen.io/85648/logo-pie-club.svg" />
        </div>
        <div class="c-logo-grid__item">
            <img src="https://assets.codepen.io/85648/logo-birdwatchers.svg" />
        </div>
        <div class="c-logo-grid__item">
            <img src="https://assets.codepen.io/85648/logo-vitamins.svg" />
        </div>
        <div class="c-logo-grid__item">
            <img src="https://assets.codepen.io/85648/logo-angry-jelly.svg" />
        </div>
    </div>

*/
/* Statamic Example...

    {{ logos }}
        <div class="c-logo-grid__item">
            <picture>
                {{# WebP #}}
                <source
                    srcset="{{ glide:url width='185' dpr='2' format='webp' }} 2x"
                    type="image/webp"
                >
                {{# JPEG #}}
                <source
                    srcset="{{ glide:url width='185' dpr='2' }} 2x"
                    type="image/jpeg"
                >
                {{# Fallback #}}
                <img src="{{ glide:url width='185' dpr='2' }}"
                    loading="lazy" width="{{ width | round }}" height="{{ height | round }}"
                    alt="{{ if alt }}{{ alt ucfirst='true' ensure_right='.' }}{{ else }}{{ filename ucfirst='true' ensure_right='.' replace='-| ' }}{{ /if }}"
                />
            </picture>
        </div>
    {{ /logos }}

*/
.c-logo-grid {
    --width: 9rem;
    display: grid;
    /* Prevent overflow on screens less than px value */
    grid-template-columns: repeat(auto-fill, minmax(min(100%, var(--width)), 1fr));
    gap: var(--spacing-lg);
}

.c-logo-grid__item {
    aspect-ratio: 3 / 2;
    padding: var(--spacing-lg);
    box-shadow: 0.1rem 0.1rem 0.5rem rgb(0 0 0 / 0.05), 0.15rem 0.15rem 0.75rem rgb(0 0 0 / 0.1);
    /* filter: grayscale(100%) opacity(50%); */
}

.c-logo-grid :is(img, svg) {
    width: 100%;
    height: 100%;
    /* This is needed for rasterised images */
    object-fit: contain;

    max-width: 5.8rem;
    max-height: 2.5rem;

    /* Optional to left-align */
    /* position: relative; */
    /* right: var(--spacing-lg); */
}

/* Custom */
@media (min-width: 1024px) {
    .c-logo-grid {
        --width: 13rem;
    }

    .c-logo-grid :is(img, svg) {
        max-width: 7.5rem;
        max-height: 5rem;
    }
}

/* Tweaks */
/* .c-logo-grid__item [src*="sandbox"] {
    max-height: 2.25rem;
} */

/* Other exceptions */
/* p + .c-logo-grid {
    padding-block-start: var(--spacing-xl);
}  */