/* GROUP MOLECULES / (NON CORE) / STEPS / (CROSS POLLINATED)
=================================================== */
/* HTML Example...
	
	<div class="c-steps-container">
		<div class="c-steps-container__line"></div>
		<div class="c-step-container">
			<div class="c-step-container__step">1</div>
		</div>
		<div class="c-steps-container__content">
			<h2 class="c-steps-container__heading">Fill in a Questionnaire</h2>
			<div class="u-padding-b-m">
				<p>Lorem ipsum ius kasd cibo utroque an, eum eu populo percipitur, his in equidem posidonium concludaturque. No eam deserunt salutatus, fastidii conceptam consectetuer no vim, sea paulo takimata ei. Tation sadipscing nec ei, cum graeci ancillae et. Modus dicit altera nec ad, nostro civibus epicurei et pro. Errem numquam interesset mel at, cu unum illum vim, ius quot splendide disputando in.</p>
			</div>
		</div>
		<div class="c-step-container">
			<div class="c-step-container__step">2</div>
		</div>
		<div class="c-steps-container__content">
			<h2 class="c-steps-container__heading">Fill in a Questionnaire</h2>
			<div class="u-padding-b-m">
				<p>Lorem ipsum ius kasd cibo utroque an, eum eu populo percipitur, his in equidem posidonium concludaturque. No eam deserunt salutatus, fastidii conceptam consectetuer no vim, sea paulo takimata ei. Tation sadipscing nec ei, cum graeci ancillae et. Modus dicit altera nec ad, nostro civibus epicurei et pro. Errem numquam interesset mel at, cu unum illum vim, ius quot splendide disputando in.</p>
			</div>
		</div>
	</div>

*/
/* Numbers Container */
.c-steps-container {
  position: relative;
/*   overflow: hidden; */
}
.c-steps-container__line {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
/* Number Container */
.c-step-container {
  float: left;
  margin-right: 0.6rem;
}
.c-steps-container__heading {
  /* =JFG. Trump default clearing behaviour on entry content headings because we want it to float next to the .c-step-container__step */
  clear: none!important;
}
.c-step-container__step {
  /* Above line */
  position: relative;

  border-radius: 50%;
  text-align: center;
  font-size: 1.5rem;
}
.c-step-container__step.u-center-vertical {
  /* =JFG. Slight adjustment when .center-vertical is also applied to the step */
  line-height: 1; 
}

.c-step-container + h3 {
  padding-block-start: 0.5rem;
}
/* Both, Where They Share Similar Values */
.c-step-container__step {
  width: 3.2rem;
  height: 3.2rem;
}
.c-steps-container__line {
  border-left: 0.45rem solid black;
  border-bottom-left-radius: 20px;
  left: 1.45rem;
}
.c-steps-container__content {
  /* Pull above .c-steps-container__line */
  position: relative;
  padding-inline-start: var(--r-m);
}
/* GROUP MOLECULES / (NON CORE) / STEPS / SPACING
=================================================== */
.c-steps-container__heading {
	padding-block-end: var(--r-s);
	padding-block-start: var(--r-s-1);
}
/* GROUP MOLECULES / (NON CORE) / STEPS / MODIFICATIONS
=================================================== */
/* Notes...

	Examples of step modifiers
	------------
	.c-step-container--round
	adds pseudo rounded corners to the end points of the step line using pseudo elements 

*/
/* GROUP MOLECULES / (NON CORE) / STEPS / MODIFICATIONS / ROUND
=================================================== */
.c-steps-container--round:last-child .c-steps-container__line:before {
	content: "";
	display: inline-block;
	background: black;
	position: absolute;
	border-radius: 50%;
	height: 0.8rem;
	width: 7px;
	left: -7px;
	bottom: -6px;
}
.c-steps-container--round .c-steps-container__line {
  border-bottom-left-radius: 0;
}
/* GROUP MOLECULES / (NON CORE) / STEPS / MODIFICATIONS / ALTERNATE STEPS
=================================================== */
/* Notes...

	- Use this modifier to alternate steps left and right
	- The HTML markup needs to be slightly different here, with the .c-steps-container being repeated for each step
	- An .u-layout-row needs to be wrapperd around the whole container to clear floats

*/
/* HTML Example...
	
	<div class="u-layout-row">
		<div class="c-steps-container c-steps-container--alternate-mq-768-up c-steps-container--round">
			<div class="c-steps-container__line"></div>
			<div class="c-step-container">
				<div class="c-step-container__step">1</div>
			</div>
			<div class="c-steps-container__content">
				<h2 class="c-steps-container__heading">Fill in a Questionnaire</h2>
				<div class="u-padding-b-m">
					<p>Lorem ipsum ius kasd cibo utroque an, eum eu populo percipitur, his in equidem posidonium concludaturque. No eam deserunt salutatus, fastidii conceptam consectetuer no vim, sea paulo takimata ei. Tation sadipscing nec ei, cum graeci ancillae et. Modus dicit altera nec ad, nostro civibus epicurei et pro. Errem numquam interesset mel at, cu unum illum vim, ius quot splendide disputando in.</p>
				</div>
			</div>
		</div>
		<div class="c-steps-container c-steps-container--alternate-mq-768-up c-steps-container--round">
			<div class="c-steps-container__line"></div>
			<div class="c-step-container">
				<div class="c-step-container__step">2</div>
			</div>
			<div class="c-steps-container__content">
				<h2 class="c-steps-container__heading">Fill in a Questionnaire</h2>
				<div class="u-padding-b-m">
					<p>Lorem ipsum ius kasd cibo utroque an, eum eu populo percipitur, his in equidem posidonium concludaturque. No eam deserunt salutatus, fastidii conceptam consectetuer no vim, sea paulo takimata ei. Tation sadipscing nec ei, cum graeci ancillae et. Modus dicit altera nec ad, nostro civibus epicurei et pro. Errem numquam interesset mel at, cu unum illum vim, ius quot splendide disputando in.</p>
				</div>
			</div>
		</div>
	</div>

*/
/* 768 + */
@media (min-width: 48em) {
	.c-steps-container--alternate-mq-768-up + .c-steps-container:nth-child(even) .c-steps-container__line {
		border-left: 0;
		border-right: 0.45rem solid;
		left: auto;
		right: 1.45rem;
	}
	.c-steps-container--alternate-mq-768-up + .c-steps-container .c-steps-container__line:after {
		left: auto;
		right: -0.4rem;
	}
	.c-steps-container--alternate-mq-768-up {
		float: right;
		width: calc(50% + 1.7rem);
	}
	.c-steps-container--alternate-mq-768-up + .c-steps-container:nth-child(even) {
		float: left;
	}

	.c-steps-container--alternate-mq-768-up + .c-steps-container:nth-child(even) .c-step-container {
		float: right;
		margin-left: 0.6rem;
		margin-right: 0;
	}
	.c-steps-container--alternate-mq-768-up + .c-steps-container:nth-child(even) .c-steps-container__content {
	  padding-inline-start: 0;
	  padding-inline-end: var(--r-m);
	  text-align: right;
	}
}