/* GROUP PAGE TEMPLATES / SEARCH RESULTS / (CROSS POLLINATED)
=================================================== */



/* GROUP PAGE TEMPLATES / BLOG / ARCHIVE / (WORDPRESS) / (CROSS POLLINATED)
=================================================== */
.blog .content article,
/* e.g. >> /blog/2016/ */
.archive .main article {
	padding-block-end: var(--r-s);
}
.blog .content /* article*/.has-post-thumbnail .entry-content,
/* Date Archive e.g. /Blog/2015 */
.archive .content /* article*/.has-post-thumbnail .entry-content,
/* Page Templates > Search Results */
.search .content /* article*/.has-post-thumbnail .entry-content {
	/* Needed to prevent floated text running into elements e.g. paragraph should not run under featured image */
	overflow: hidden;
}

.blog .content /* article*/.has-post-thumbnail > a:first-child img,
/* Date Archive e.g. /Blog/2015 */
.archive .content /* article*/.has-post-thumbnail > a:first-child img,
/* Page Templates > Search Results */
.search .content /* article*/.has-post-thumbnail > a:first-child img {
	position: relative;
	z-index: 1;
	/* Override default .align classes */
	max-width: 100%;
	margin-left: 0;
	margin-right: 0;
	margin-block-end: var(--r-s);
	float: none;
}

.has-post-thumbnail > a:first-child {
	/* Cancel link style for links wrapped around images */
	border-bottom: 0;	
}

/* 740 + */
@media (min-width: 46.25em) {
	.blog .content /* article*/.has-post-thumbnail .entry-content,
	.blog .content /* article*/.has-post-thumbnail .entry-header,
	/* Date Archive e.g. /Blog/2015 */
	.archive .content /* article*/.has-post-thumbnail .entry-content,
	.archive .content /* article*/.has-post-thumbnail .entry-header,
	/* Page Templates > Search Results */
	.search .content /* article*/.has-post-thumbnail .entry-content,
	.search .content /* article*/.has-post-thumbnail .entry-header {
		padding-inline-end: 0;
		padding-inline-start: 0;
	}
	.blog .content /* article*/.has-post-thumbnail > a:first-child img,
	/* Date Archive e.g. /Blog/2015 */
	.archive .content /* article*/.has-post-thumbnail > a:first-child img
	/* not .search because it's full of different sized images and we might exceed their max-width */ {
		width: 38.2%;
		max-width: 400px;
	}

	.blog .content /* article*/.has-post-thumbnail > a:first-child /* img*/.alignleft,
	/* Date Archive e.g. /Blog/2015 */
	.archive .content /* article*/.has-post-thumbnail > a:first-child /* img*/.alignleft,
	/* Page Templates > Search Results */
	.search .content /* article*/.has-post-thumbnail > a:first-child /* img*/.alignleft,
	.search .content /* article*/.has-post-thumbnail > a:first-child /* img*/.alignright {
		float: left;
		/* Decrease */
		margin-right: 0.5rem;
		padding-inline-end: var(--r-m);
	}

	.blog .content /* article*/.has-post-thumbnail > a:first-child /* img*/.alignright,
	/* Date Archive e.g. /Blog/2015 */
	.blog .content /* article*/.has-post-thumbnail > a:first-child /* img*/.alignright,
	/* Page Templates > Search Results */
	.search .content /* article*/.has-post-thumbnail > a:first-child /* img*/.alignright {
		float: right;
		/* Decrease */
		margin-left: 0.5rem;
		padding-inline-start: var(--r-m);
	}
}