/*! Notes...

    Author: Jay George
    Author URI: https://jaygeorge.co.uk

    ABOUT THIS CSS
    ===================================================
    - Only edit filename-dev.css, then process with Laravel Mix (1. run `sudo npm install` 2. Configure with `webpack.mix.js` 3. `npm run watch` to constantly monitor and compile into prod/)

*/


/* GROUP SCOPE / LEGALISE
=================================================== */
.s-legalise {
    max-width: var(--max-width-2);
    margin-inline: auto;

    border: 1px solid var(--colour-grey-light-2);
}

.s-legalise,
/* Override any more complex rules like .s-entry-content:last-child */
.s-legalise:last-child {
    padding: var(--spacing-l);
    margin-block-end: var(--spacing-l-2);
}

.s-legalise h2 {
    padding-block-end: var(--spacing-m);

    font-size: var(--font-size-s-2);
    border-bottom: 1px solid var(--colour-grey-light-2);
}

.s-legalise h2:not(:first-child) {
    padding-block-start: var(--spacing-l-1);
}

.s-legalise h3,
.s-legalise h4 {
    font-weight: var(--font-family-main-weight-medium);
}

.s-legalise h3 {
    font-size: var(--font-size-s-1);
}

.s-legalise p {
    padding-block-end: var(--spacing-s-1);
}

/* Custom */
@media (max-width: 899px) {
    .s-legalise {
        border-left: none;
        border-right: none;
    }
}