/* GROUP SCOPE / LEGALISE / LAYOUT
=================================================== */
/* GROUP SCOPE / LEGALISE / SPACING
=================================================== */
.s-legalise,
/* Override any more complex rules like .s-entry-content:last-child */
.s-legalise:last-child {
    padding: var(--spacing-l);
    margin-bottom: var(--spacing-l-2);
}

.s-content-main-legalise .s-entry-header {
    padding-block-end: var(--spacing-l-1);
}

.s-content-main-legalise .s-entry-content:not(.s-legalise) {
    padding-block-end: var(--spacing-l);
    margin-bottom: var(--spacing-l-1);
}

.s-legalise h2 {
    padding-block-end: var(--spacing-m);
}

.s-legalise h2:not(:first-child) {
    padding-block-start: var(--spacing-l-1);
}

.s-legalise h3 {
    padding-block-end: var(--spacing-s-x-x);
}

.s-legalise h2 + p {
    padding-block-start: var(--spacing-s-1);
}
/* GROUP SCOPE / LEGALISE / DECORATION
=================================================== */
.s-legalise {
    border: 1px solid var(--colour-grey-light-2);
}

.s-content-main-legalise .s-entry-content:not(.s-legalise) {
    border-bottom: 1px dashed var(--colour-grey-light-2);
}

.s-content-main-legalise .s-entry-content:last-child {
    border-bottom: 0;
}

.s-content-main-legalise .s-entry-content {
    font-size: var(--font-size-s-x);
}

.s-content-main-legalise .s-entry-content * {
    text-align: left;
}

.s-legalise h2 {
    font-size: var(--font-size-s-2);
    border-bottom: 1px solid var(--colour-grey-light-2);
}

.s-legalise h3 {
    font-size: var(--font-size-s);
}

.s-legalise h3,
.s-legalise h4 {
    color: var(--colour-grey);
    font-family: var(--font-family-1);
    font-weight: var(--font-family-1-weight-strong);
}

.s-legalise * {
    text-align: left;
}

/* Custom */
@media (max-width: 899px) {
    .s-legalise {
        border-left: none;
        border-right: none;
    }
}