/* GROUP SCOPE / LEGALISE
=================================================== */
/* Notes...

    URL example
    -----------
    /bills

    What does it do?
    ----------------
    Small print

*/
/* HTML Example...

    <section class="s-legalise">
        <h2>
        <p>
        <ol>
    </section>

*/


@layer scope {
    /* GROUP SCOPE / LEGALISE
    =================================================== */
    .s-legalise {
        max-width: var(--max-width-2);
        margin-inline: auto;

        border: 1px solid var(--color-gray-light-2);

        /* Override any more complex rules like .s-entry-content:last-child */
        &, &:last-child {
            padding: var(--spacing-xl);
            margin-block-end: var(--spacing-3xl);
        }

        & h2 {
            padding-block-end: var(--spacing-lg);
    
            font-size: var(--font-size-xs);
            border-bottom: 1px solid var(--color-gray-light-2);
            &:not(:first-child) {
                padding-block-start: var(--spacing-2xl);
            }
        }
        & :is(h3, h4) {
            font-weight: var(--font-family-main-weight-medium);
        }

        & h3 {
            font-size: var(--font-size-s);
        }

        /* Custom */
        @media (max-width: 899px) {
            border-left: none;
            border-right: none;
        }
    }

    /* GROUP ELEMENTS / TABLES
    =================================================== */
    table + h2 {
        padding-block-start: var(--spacing-md);
    }

    /* GROUP FRAMEWORK / NON CORE / TABLE WRAPPER
    =================================================== */
    /* Array.from(document.querySelectorAll('main table') || []).forEach(element => {
        // create wrapper container
        var wrapper = document.createElement('div');

        // insert wrapper before el in the DOM tree
        element.parentNode.insertBefore(wrapper, element);

        // move el into wrapper
        wrapper.appendChild(element);
        wrapper.classList.add('js--tableWrapper');
    }); */
    .js--tableWrapper {
        margin-bottom: var(--spacing-lg-2);
    }
    /* GROUP PLUGIN / BOOTSTRAP / TABLES
    =================================================== */
    /*!
    * Bootstrap v3.1.1 (http://getbootstrap.com)
    * Copyright 2011-2014 Twitter, Inc.
    * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
    */

    table {
        max-width: 100%;
        background-color: transparent;
        border-collapse: collapse;
        border-spacing: 0;
    }

    th {
        text-align: left;
    }

    table {
        width: 100%;
    }

    table > thead > tr > th,
    table > tbody > tr > th,
    table > tfoot > tr > th,
    table > thead > tr > td,
    table > tbody > tr > td,
    table > tfoot > tr > td {
        padding: 11px;
        /* =JFG Added */
        padding-inline-end: 20px;
        /* -- */
        line-height: 1.43;
        vertical-align: top;
        border-top: 1px solid #eee;
    }

    table > thead > tr > th {
        vertical-align: bottom;
        border-bottom: 2px solid #eee;
    }

    table > caption + thead > tr:first-child > th,
    table > colgroup + thead > tr:first-child > th,
    table > thead:first-child > tr:first-child > th,
    table > caption + thead > tr:first-child > td,
    table > colgroup + thead > tr:first-child > td,
    table > thead:first-child > tr:first-child > td {
        border-top: 0;
    }

    table > tbody + tbody {
        border-top: 2px solid #eee;
    }

    table table {
        background: white;
    }

    table > thead > tr > th,
    table > tbody > tr > th,
    table > tfoot > tr > th,
    table > thead > tr > td,
    table > tbody > tr > td,
    table > tfoot > tr > td {
        border: 1px solid #eee;
    }

    table > thead > tr > th,
    table > thead > tr > td {
        border-bottom-width: 2px;
    }
    /* GROUP PLUGIN / BOOTSTRAP / TABLES / (JAY ADDED)
    =================================================== */
    /* Custom */
    @media (max-width: 599px) {
        /* =JFG. Need to wrap something around tables for overflow.
        Without JS tables just behave as normal i.e. you wouldn't be able to see big tables. */
        .js--tableWrapper {
            overflow-y: hidden;
            overflow-x: scroll;
            /* Don't think this is needed anymore */
            /* -ms-overflow-style: -ms-autohiding-scrollbar; */
            /* -webkit-overflow-scrolling: touch; */
            width: 100%;
            box-shadow: var(--box-shadow-s-inset-right);
        }

        table {
            margin-bottom: 0;
        }

        table > thead > tr > th,
        table > tbody > tr > th,
        table > tfoot > tr > th,
        table > thead > tr > td,
        table > tbody > tr > td,
        table > tfoot > tr > td {
            white-space: nowrap;
        }
    }
    /* GROUP PLUGIN / BOOTSTRAP / TABLES / (MODIFICATIONS) / STRIPED
    =================================================== */
    table > tbody > tr:nth-child(odd) > td,
    table > tbody > tr:nth-child(odd) > th {
        background-color: #f8f8f8;
    }
    /* GROUP PLUGIN / BOOTSTRAP / TABLES / (MODIFICATIONS) / BORDERED
    =================================================== */
    table {
        border: 1px solid #eee;
    }
    /* GROUP PLUGIN / BOOTSTRAP / TABLES / (JAY ADDED) / (CROSS POLLINATED)
    =================================================== */
    /* =JFG. Fix it so tabular info is easier to digest */
    table {
        font-size: 16px;
    }

    table + h2 {
        padding-block-start: var(--spacing-md);
    }
    /* GROUP MOLECULES / TABLES / BOOTSTRAP / (JAY ADDED) / HIGHLIGHT TODAYS DATE
    =================================================== */
    /* e.g. .js__highlight-today tr.js--today */
    .js__highlight-today .js--today {
        border: 2px solid var(--color-turquoise);
    }
    /* purgecss end ignore */
}