:root {
    /* GROUP VARIABLES -- SPACING
    =================================================== */
    --spacing-4xs: 0.25rem;
    --spacing-3xs: 0.5rem;
    --spacing-2xs: 0.8rem;
    --spacing-xs: 1rem;
    --spacing-md: 1.35rem;

    --spacing-lg: 1.5rem;
    --spacing-xl: 1.8rem;
    --spacing-xl-static: 1.8rem;
    --spacing-2xl: 2.5rem;

    /* Smaller values for mobile */
    --spacing-3xl: min(10vw, 4.2rem);
    --spacing-4xl: min(18vw, 4.7rem);
    --spacing-4xl-inline: var(--spacing-2xs); /* Increased later */
    --spacing-5xl: min(18vw, 7.5rem);

    --spacing-vh-sm: min(12vw, 10vh);
    --spacing-vh-md: min(22vw, 25vh);
    --spacing-vh-lg: clamp(12rem, 22vw, 29vh);

    --button-spacing-vertical: 1rem;
    --button-spacing-inline: 1.5rem;

    /* GROUP VARIABLES -- LAYOUT
    =================================================== */
    /* Use min things don't get too tall, e.g. consider a device at 1600 x 2560 */
    --vh-full: min(100svh, 60rem);

    /* GROUP VARIABLES -- LAYOUT -- CONSTRAINTS -- MAX
    =================================================== */
    /* From lowest to highest value */
    --max-width-1: 75rem;
    --max-width-reading: 39rem;
    /* Increased at later MQs */
    --max-width-title: 50rem;
    --max-width-title-l: 60rem;
    --max-width-form: var(--max-width-reading);

    /* GROUP VARIABLES -- LAYOUT -- Z-INDEX
    =================================================== */
    --z-index-above-body: 1;
    --z-index-nav: 2;
    --z-index-above-nav: 3;

    /* GROUP VARIABLES -- DECORATION -- COLOURS -- THEME
    =================================================== */
    /* Dark to light */
    --color-black: hsl(217deg 53% 17%);
    --color-black-hsl: 217deg 53% 17%;
    --color-purple: oklch(53.24% .301 290.86);
    --color-gray-background: hsl(217deg 23% 96%);
    --color-gray-aa: hsl(0deg 0% 40%);

    --color-primary-text: var(--color-black);
    --color-primary-accent: var(--color-purple);

    --color-focus: var(--color-primary-accent);
    --color-link: black;

    --color-form-accent: var(--color-primary-accent);

    --color-alert-warning: hsl(0 75% 50%);
    /* Any more transparent and we lose AA when used with alert-red text */
    --color-alert-warning-background: hsl(0 75% 50% / 4%);

    --color-alert-success: hsl(163deg 60% 32%);
    --color-alert-success-background: hsl(163deg 75% 50% / 4%);
    /* GROUP VARIABLES -- DECORATION -- COLOURS -- THEME -- GRADIENTS
    =================================================== */
    --color-gradient-purple: linear-gradient(to var(--gradient-direction, right), var(--color-pink),var(--color-purple));

    /* GROUP VARIABLES -- DECORATION -- TEXT -- FONTS
    =================================================== */
    --font-family-main: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    /* GROUP VARIABLES -- DECORATION -- TEXT -- WEIGHTS
    =================================================== */
    --font-family-main-weight-normal: 350;
    --font-family-main-weight-medium: 500;
    --font-family-main-weight-bold: 700;

    --font-family-heading-weight-light: 700;
    --font-family-heading-weight-normal: 800;

    /* GROUP VARIABLES -- DECORATION -- TEXT -- SIZES
    =================================================== */
    /*
        -sm sizes are sub 1rem
        -md is just above 1rem
        -lg and xl sizes are above 1rem
    */
    --font-size-xs: 0.8rem;
    --font-size-sm: 0.9rem;
    --font-size-sm-line-height: 1.45;

    /* GROUP VARIABLES -- DECORATION -- TEXT -- SIZES -- OUTSIDE SCALE
    =================================================== */
    /* -m is just above 1rem */
    --font-size-md: clamp(1.05em, 4vw, 1.1em);
    /* GROUP VARIABLES -- DECORATION -- TEXT -- SIZES -- AUGMENTED FOURTH
    =================================================== */
    /* Based on Augmented Fourth - https://type-scale.com/ */
    --font-size-lg: clamp(1.35em, 4vw, 1.414em);
    --font-size-lg-line-height: 1.3;

    --font-size-xl: clamp(1.999em * 0.75, 6vw, 1.999em);
    --font-size-xl-line-height: 1.3;

    --font-size-2xl: clamp(2.827em * 0.8, 9vw, 2.827em);
    --font-size-2xl-line-height: 1.15;

    --font-size-3xl: clamp(3.998em * 0.8, 11vw, 3.998em);
    --font-size-3xl-line-height: 1.15;

    --font-size-4xl: clamp(5.653em * 0.618, 12vw, 5.653em);
    --font-size-4xl-line-height: 1;

    /* GROUP VARIABLES -- DECORATION -- ICONS -- SIZES
    =================================================== */
    --icon-size-md: 2rem;

    /* GROUP VARIABLES -- DECORATION -- BORDER RADIUS
    =================================================== */
    --border-radius-md: 6px;

    /* GROUP VARIABLES -- DECORATION -- SEPARATORS -- BORDERS - ordered from light to dark variants
    =================================================== */
    --border-neutral: 1px solid hsl(var(--color-black-hsl) / 10%);
    --border-form-input: 1px solid hsl(var(--color-black-hsl) / 33%);

    /* GROUP VARIABLES -- DECORATION -- SEPARATORS -- BOX SHADOWS - ordered from light to dark variants
    =================================================== */
    --box-shadow-light: 0px 0px 15px rgba(0,0,0,0.125);
    --box-shadow-not-t: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

    /* GROUP VARIABLES -- ANIMATIONS -- TIMING
    =================================================== */
    --animation-timing-function-fast-out-slow-in: cubic-bezier(.4,0,.2,1);

    /* GROUP VARIABLES -- ANIMATIONS -- TRANSITIONS
    =================================================== */
    --transition-transform: transform 0.3s var(--animation-timing-function-fast-out-slow-in);

    /* GROUP VARIABLES -- OTHER
    =================================================== */
    --focus-offset-width: 4px;
    --focus-width: 3px;

    /* --mq-root-variable-adjustments-1 */
    @media (min-width: 450px) {
        /* GROUP VARIABLES -- SPACING
        ===================================================  */
        --spacing-xl: 2.3rem;
        --spacing-2xl: 3.5rem;
    }
    /* --mq-root-variable-adjustments-2 */
    @media (min-width: 730px) {
        --spacing-4xl-inline: var(--spacing-4xl);
    }
    /* --mq-root-variable-adjustments-2-portrait */
    @media (min-width: 730px) and (orientation: portrait) {
        /* e.g. iPad */
        --spacing-5xl: 5rem;
    }
    @media (min-width: 1024px) {
        --max-width-form: 50rem;
    }
    /* Notes...

        --mq-root-variable-adjustments-smaller-laptops-after to --mq-root-variable-adjustments-larger-laptops-before
        - Bear in mind users on smaller laptops do _not_ see things how you see things at a window width of 1440px.
        - You can check exactly how they see it by going to System Preferences > Displays > Scaled

    */
    /* Custom */
    @media (width >= 1025px) and (width < 1441px) {
        /* GROUP VARIABLES -- DECORATION -- TEXT -- SIZES -- BUMPS
        =================================================== */
        /* Decrease */
        --font-bump: -0.085em;
    }
    /* --mq-text-bump-1-after */
    @media (min-width: 1600px) {
        /* GROUP VARIABLES -- DECORATION -- TEXT -- SIZES -- BUMPS
        =================================================== */
        --font-bump: 0.01em;
    }
    /* --mq-text-bump-2-after */
    @media (min-width: 1800px) {
        /* GROUP VARIABLES -- SPACING
        =================================================== */
        --spacing-vh-md: 22vh; /* Decrease */
        /* GROUP VARIABLES -- DECORATION -- TEXT -- SIZES -- BUMPS
        =================================================== */
        /* Increase */
        --font-bump: 0.02em;
    }
    /* --mq-text-bump-3-after */
    @media (min-width: 2300px) {
        /* GROUP VARIABLES -- DECORATION -- TEXT -- SIZES -- BUMPS
        =================================================== */
        /* Increase */
        --font-bump: 0.05em;
    }
}