/* GROUP COMPONENTS / PAGINATION / PERCH
=================================================== */
/* Notes...

    - Based on Perch's default HTML outline and classes (slightly modified with namespaces)
    - see the COMPONENTS / FRAMEWORK / (NON CORE) / BUTTONS / TYPES group for animation

*/

/* HTML Example...

    .paging
        .paging__info
            "Page 1 of 2"
        .paging__buttons
            .c-btn.c-btn--pagination(or .c-btn--pagination-single for single posts)
                a
                    Newer
            .c-btn.c-btn--pagination(or .c-btn--pagination-single for single posts)
                a
                    Older

*/
/* GROUP COMPONENTS / PAGINATION / PERCH / LAYOUT
=================================================== */
.paging__buttons {
    display: flex;
    justify-content: center
}

/* Custom */
@media (max-width: 599px) {
    .c-btn--pagination:not(.c-btn--pagination-single) span {
        /* Hide text because there's not enough room */
        /* START SCREEN READER TEXT
        --------------------------- */
        clip: rect(1px, 1px, 1px, 1px);

        position: absolute!important;
        overflow: hidden;
        width: 1px;
        height: 1px;
        /* END SCREEN READER TEXT
        ------------------------- */
    }

    /* Center the icons since there is no text */
    .c-btn--pagination:not(.c-btn--pagination-single) .c-btn__left svg {
        position: relative;
        /* Visually center */
        right: -0.3em;
        margin-right: 0;
    }

    .c-btn--pagination:not(.c-btn--pagination-single) .c-btn__right svg {
        position: relative;
        /* Visually center */
        left: -0.3em;
        margin-left: 0;
    }
}
/* GROUP COMPONENTS / PAGINATION / PERCH / SPACING
=================================================== */
.paging {
    padding-inline-start: var(--spacing-xl);
    padding-inline-end: var(--spacing-xl);
}

.paging .c-btn,
.paging .c-btn a {
    /* Cancel defaults */
    margin-right: 0;
}

.c-btn--pagination + .c-btn--pagination {
    margin-left: var(--spacing-s);
}

.paging .c-btn {
    margin-top: var(--spacing-xl);
}

.paging .c-btn a {
    /* Needed for when previous and next are side by side. This should already be set as flex by the Atoms > Buttons group */
    /* display: flex; */
    margin-block-end: var(--spacing-lg);
}

@media (min-width: 400px) {
    .c-btn--pagination + .c-btn--pagination {
        /* Increase */
        margin-left: var(--spacing-lg);
    }
}
/* GROUP COMPONENTS / PAGINATION / PERCH
=================================================== */
.paging {
    text-align: center;
}
