/* GROUP COMPONENTS / PAGINATION
=================================================== */
/* Notes...

    - see the COMPONENTS / FRAMEWORK / (NON CORE) / BUTTONS / TYPES group for animation

*/

/* HTML Example...

    <div class="c-paging">
        <div class="c-paging__info">
            "Page 1 of 2"
        </div>
        <div class="c-paging__buttons">
            {{# (or .c-btn--pagination-single for single posts) #}}
            <div class="c-btn c-btn--pagination">
                <a href="">
                    Newer
                </a>
            </div>
            <div class="c-btn c-btn--pagination">
                <a href="">
                    Older
                </a>
            </div>
        </div>
    </div>

*/
@layer components {
    .c-paging {
        text-align: center;
        border-block-start: var(--border-dark);

        :has(+ &) { /* The element before .c-paging should have this padding-block-end */
            padding-block-end: var(--spacing-4xl);
        }

        & * {
            color: var(--color-black);
        }
    }

    .c-paging__buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--spacing-2xl);

        .c-btn {
            margin-inline-end: 0;
            margin-block-end: 0;

            & a {
                padding: var(--spacing-xs) 0;
            }
        }

        .c-btn__right {
            /* Make sure 'Older' is always to the "right" */
            grid-column: 2;
            & a {
                justify-content: flex-end;
            }
        }
    }

    /* Custom */
    @media (max-width: 599px) {
        .c-btn--pagination {
            &:not(.c-btn--pagination-single) {
                & span {
                    /* Hide text because there's not enough room */
                    /* START SCREEN READER TEXT
                    --------------------------- */
                    clip: rect(1px, 1px, 1px, 1px);

                    position: absolute!important;
                    overflow: hidden;
                    width: 1px;
                    height: 1px;
                    /* END SCREEN READER TEXT
                    ------------------------- */
                }

                /* Center the icons since there is no text */
                .c-btn__left :is([src*="svg"], svg) {
                    position: relative;
                    /* Visually center */
                    right: -0.3em;
                    margin-right: 0;
                }

                .c-btn__right :is([src*="svg"], svg) {
                    position: relative;
                    /* Visually center */
                    left: -0.3em;
                    margin-left: 0;
                }
            }
        }
    }
}