/* GROUP UTILITIES / (NON CORE) / STICKY FOOTER
=================================================== */
/* Source:http://codepen.io/astrotim/pen/PwYQOJ */
/* Used on jaygeorge.co.uk/contact */

/* HTML Example...

    <body class="u-layout-sticky-footer-wrapper">
        <main id="main" class="u-layout-sticky-footer-wrapper__main-content">
            main content here
        </main>
    </body>

    <footer class="u-layout-sticky-footer-wrapper">
    </footer>

*/

/* .u-layout-sticky-footer-wrapper, */
html, body {
    min-height: 100%;
    min-height: 100vh;
    /* Only works in IE with height set to 100vh (min-height doesn't work) */
}

/* .u-layout-sticky-footer-wrapper, */
body {
    display: flex;
    flex-direction: column;
}

/* .u-layout-sticky-footer-wrapper__main-content, */
main {
    flex-grow: 1;
}