/* GROUP COMPONENTS / FRAMEWORK / (NON CORE) / LOGOS
=================================================== */
/* Notes...

    - Crop tightly around the logo, the crop doesn't really matter; flexbox will center them
        + You could start with a logo canvas size of 188 (about 375px / 2) so that the logo images do not need to be resized by the browser on mobile
    - If you are going to greyscale the logos then make them all black vectors (same shade)

*/
/* HTML Example...

    <div class="c-logos">
        <div class="c-logos__item">
            <img src="img/logos/google.svg" alt="Google" />
        </div>
    </div>

*/
/* Modifiers...

*/
/* GROUP COMPONENTS / FRAMEWORK / (NON CORE) / LOGOS / LAYOUT
=================================================== */
.c-logos {
    --column-size: 7.5em;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, var(--column-size)), 1fr));
    grid-gap: var(--spacing-l-1) var(--spacing-l-2);
    width: 100%;
}

.c-logos > * {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 7rem;
    min-height: 7em;
}

.c-logos img {
    width: initial;
    max-height: 6rem;
    max-width: 10rem;
}

.c-logos [src*=".svg"] {
    min-height: 3rem;
}

.c-logos div {
    /* Needed to make SVGs appear */
    width: 100%;
}

/* Custom */
@media (min-width: 500px) {
    .c-logos {
        /* Decrease */
        --column-size: 6em;
        /* e.g. >> home -> clients */
        /* grid-gap: var(--spacing-l-1) var(--spacing-l-4); */
        /* Custom so that logos fit all the way across */
        grid-gap: var(--spacing-l) 7.3em;
    }
}

/* --mq-text-bump-4-after */
@media (min-width: 2200px) {
    .c-logos {
        max-width: 58rem;
        grid-gap: 2em 4em;
    }

    .c-logos img {
        max-height: 6rem;
        max-width: 6rem;
    }
}
/* GROUP COMPONENTS / FRAMEWORK / (NON CORE) / LOGOS / SPACING
=================================================== */
.c-logos {
    padding-block-start: var(--spacing-m-2);
    padding-block-end: var(--spacing-l-4);
}

/* Exceptions... */
/*.c-hero-block__strapline ~ * {*/
    /* e.g. >> Home */
    /*padding-block-start: var(--spacing-s-1);*/
/*}*/
/* GROUP COMPONENTS / FRAMEWORK / (NON CORE) / LOGOS / DECORATION
=================================================== */
.c-logos__item img {
    /* filter: grayscale(100%) opacity(50%); */
}

/* Other exceptions */
/* p + .c-logos {
    padding-block-start: var(--spacing-l);
}  */