:root {
    interpolate-size: allow-keywords;
}

@layer elements {
    body {
        /* https://dbushell.com/2024/11/05/webkit-font-smoothing/ */
        -webkit-font-smoothing: antialiased;
        min-height: 100vh;
        background: white;
        color: var(--color-primary-text);

        font-family: var(--font-family-main);
        font-weight: var(--font-family-main-weight-normal);
        /* https://app.typographychecklist.com/ - 23. Use standard ligatures but avoid using discretionary ligatures in body text */
        font-feature-settings: "kern", "liga", "clig", "calt";
        /* https://css-tricks.com/scrollbar-reflowing/ */
        scrollbar-gutter: stable both-edges;
    }
}

/* GROUP ELEMENTS
=================================================== */
@layer elements {
    /* GROUP ELEMENTS / FRAMEWORK
    =================================================== */
    /* ::selection {
        background: light color;
        color: dark color;
    } */
    /* https://twitter.com/bramus/status/1452572001697153029 */
    /* html,
    body {
        background: ;
    } */
    html {
        /* Consider disabling this if you have pages that require lots of cmd + f https://css-tricks.com/downsides-of-smooth-scrolling/ */
        @media (prefers-reduced-motion: no-preference) {
            scroll-behavior: smooth;
        }
        font-size: calc(1em + var(--font-bump));
        /* Opinion on this will differ depending on the font you choose. Do not carpet bomb line height with a * selector though */
        line-height: 1.5;
        /* https://web.dev/accent-color/ */
        accent-color: var(--color-form-accent);
    }
    body {
        /* https://app.typographychecklist.com/ - 23. Use standard ligatures but avoid using discretionary ligatures in body text */
        font-feature-settings: "kern", "liga", "clig", "calt";
        font-family: var(--font-family-main);
        /* https://css-tricks.com/scrollbar-reflowing/ */
        scrollbar-gutter: stable both-edges;
    }
    pre,
    code {
        /* e.g. try <code><?php bloginfo('stylesheet_url'); ?></code> and you'll see that it overflows on smaller screens */
        overflow-x: scroll;
        padding-block-end: var(--spacing-s-x);
        padding-block-start: var(--spacing-s-x);
        margin-block-end: var(--spacing-lg);
        color: var(--color-gray-reading);
        /* https://dbushell.com/2024/11/05/webkit-font-smoothing/ */
        -webkit-font-smoothing: antialiased;
        + p {
            padding-block-start: var(--spacing-md);
        }
        p:has(+ &) {
            padding-block-end: var(--spacing-md);
        }
    }
    code {
        /* Stop code elements with a long path in causing overflow. Source: https://stackoverflow.com/questions/1165497/how-to-prevent-text-from-overflowing-in-css#3791058 */
         word-wrap: break-word;
    }
    /* Prevent images stretching too much */
    img {
        /* Maintain aspect ratio */
        height: auto;
    }
    /* https://www.youtube.com/watch?v=2lyDv0wOQuQ */
    img, picture, svg, video {
        display: block;
        max-width: 100%;
    }
    /* Reset */
    h1, h2, h3, h4, h5, h6,
    p,
    ul, ol,
    figure, blockquote {
        margin-block: 0;
    }
    blockquote {
        margin: 0;
        quotes: "“" "”" "‘" "’";
        /* Only where there are no children */
        &:not(:has(*)) {
            &::before {
                content: open-quote;
            }
            &::after {
                content: close-quote;
            }
            /* https://chriscoyier.net/2023/11/27/the-hanging-punctuation-property-in-CSS */
            text-indent: -0.45em;
        }
        @supports (hanging-punctuation: first) {
            text-indent: 0;
            hanging-punctuation: first;
        }
    }
    /* Reset */
    figure {
        margin-inline: 0;
        & img {
            /* Push the caption away from the image */
            margin-block-end: var(--spacing-2xs);
        }
    }
    /* 
        - https://youtu.be/UWFrl79092w?si=T0cPhMFkQhdkoLiA&t=75
        - Excluding navigation and pagination
    */
    ul:not([class], nav *, [class*="pagi"] *) {
        padding-inline-start: 0;
    }
    ul[class],
    *[class] > ul {
        /* Try to target components that have a list, such as .c-paging > ul, and remove default list styling */
        list-style: none;
    }
    /* Don't affect nav */
    .s-main li:not(:last-child) {
        padding-block-end: var(--spacing-xs);
    }
    dl,
    dt,dd,
    th,
    td {
        padding-block-end: var(--spacing-2xs);
    }
    p {
        margin-block-end: var(--spacing-lg);
        &:last-child {
            margin-block-end: 0;
        }
        &:has(+ blockquote) {
            margin-block-end: var(--spacing-xl);
        }
    }
    a {
        color: inherit;
        /* https://ux.stackexchange.com/questions/105024/why-dont-button-html-elements-have-a-css-cursor-pointer-by-default - One of the main tenets of UX is "don't make me think" ... if you don't have a hand pointer over a button then you have to think "is this a button?" ... so you are breaking this main principle and making the UX worse. This is probably why Apple and Microsoft both use this on their websites. */
        cursor: pointer;
    }
    /* Don't affect Statamic's lists here, which contain p tags like this:
        <ol>
            <li>
                <p>Sponsor games</p>
            </li>
            <li>
                <p>Promote your game</p>
            </li>
            <li>
                <p>Sponsor live events</p>
            </li>
        </ol>
    */
    .s-main :is(p:not(li p), ol, ul):not(:has(li p)) {
        line-height: var(--font-size-reading-line-height);
        list-style-position: inside;
        padding-inline-start: 0;
    }
    /* For Statamic's lists use a different method: */
    ol:has(li p) {
        padding-inline-start: var(--spacing-2xl);
    }
    p + ul {
        padding-block-start: var(--spacing-2xs);
    }
    strong {
        font-weight: var(--font-family-main-weight-bold);
    }
    /* Only target our own name-spaced components so that we don't affect plugins */
    :is([class^="c-"], [class^="o-"]) svg {
        fill: currentColor;
        /* For SVG icons */
        width: 1em;
        height: 1em;
    }
    :is(h1, h2, h3, h4, h5, h6, p) svg {
        vertical-align: baseline;
        margin-inline-end: var(--spacing-3xs);
    }
    /* GROUP ELEMENTS / FRAMEWORK / MAIN
    =================================================== */
    /* Target the main element with a class rather than the main tag, because the main tag can still be used elsewhere e.g. Meilisearch uses it for its modal */
    .s-main {
        &:focus {
            outline: none;
        }
        /* Only when followed by the footer */
        &:has(+ footer) {
            margin-block-end: var(--spacing-5xl);
        }
        & > *:last-child {
            padding-block-end: 0;
        }
    }
    /* GROUP ELEMENTS / FRAMEWORK / HEADINGS
    =================================================== */
    /* https://developer.chrome.com/blog/CSS-text-wrap-balance */
    h1, h2, h3, h4, h5, h6 {
        /* Not .s-entry-content headings because it feels a bit weird */
        &:not(.s-entry-content &) {
            text-wrap: balance;
        }
    }
    blockquote, figcaption, .s-main p {
        text-wrap: pretty;
    }
    h1, .h1, h1 a, .h1 a, h2, .h2, h2 a, .h2 a, h3, .h3, h3 a, .h3 a {
        font-family: var(--font-family-heading);
        font-weight: var(--font-family-heading-weight-normal);
        /* https://app.typographychecklist.com/ 91 - Use discretionary ligatures and swashes in headlines */
        font-feature-settings: "kern", "liga", "clig", "calt", "dlig", "swsh";
        /* Override iOS Safari's user agent stylesheet */
        text-decoration: none;
        color: inherit; /* If you use a link inside a heading, inherit the colour so it's not the default browser-purple */
    }
    a :is(h1, h2, h3, h4, h5, h6) {
        /* When a heading is inside a link, escape the link colour */
        color: initial;
    }
    h2, .h2, h3, .h3, h4, .h4, h4 a, .h4 a {
        font-family: var(--font-family-heading);
        font-weight: var(--font-family-heading-weight-light);
    }
    h1, .h1 {
        font-size: var(--font-size-2xl); line-height: var(--font-size-2xl-line-height);
    }
    h2, .h2 {
        font-size: var(--font-size-xl); line-height: var(--font-size-xl-line-height);
    }
    h3, .h3 {
        font-size: var(--font-size-md); line-height: var(--font-size-sm-line-height);
    }
    h4, .h4 {
        font-size: var(--font-size-lg); line-height: var(--font-size-lg-line-height);
    }
    h5, .h5 {
        font-size: var(--font-size-md); line-height: var(--font-size-sm-line-height);
    }
    h6, .h6 {
        font-size: var(--font-size-sm-1); line-height: var(--font-size-sm-1-line-height);
    }
    /* GROUP ELEMENTS / FRAMEWORK / HEADINGS / HIGH PRIORITY / VERTICAL SPACING
    =================================================== */
    h1, .h1 {
        padding-block-end: var(--spacing-xl);
    }
    h2, .h2 {
        padding-block-end: var(--spacing-lg);
    }
    * + h2,
    * + .h2,
    article + article {
        padding-block-start: var(--spacing-lg);
    }
    /* GROUP ELEMENTS / FRAMEWORK / HEADINGS / LOW PRIORITY / VERTICAL SPACING
    =================================================== */
    h3, .h3 {
        padding-block-end: var(--spacing-2xs);
    }
}
@layer components {
    /* Put these at the component level e.g. so we make sure we override something like .c-site-footer li { padding-block-end: var(--spacing-3xs); } */
    /* Nested lists */
    ol ol,
    ol ol li:last-child,
    ul ul,
    ul ul li:last-child {
        padding-block-end: 0;
    }

    button svg,
    .c-btn :is([src*="svg"], svg) {
        font-size: 1.1em;
    }
}



/* GROUP ELEMENTS / NAV
=================================================== */
@layer elements {
    nav {
        & ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        & a {
            color: inherit;
        }
        & svg:last-child {
            /* subnav arrow */
            margin-inline-start: var(--spacing-4xs);
            width: 0.7rem;
            color: var(--color-primary-text);

            *:has(> &) {
                /* The SVG container */
                display: flex;
            }
        }
    }
}
@layer objects {
    .o-subnav {
        transition: var(--transition-transform);
    }
    .o-subnav--open {
        transform: scaleY(-1);
    }
}



/* GROUP ELEMENTS / FRAMEWORK / TEXT / LINK STYLES {/ LINKS }
=================================================== */
/* Notes...

    - Link styles are stored as group selectors rather than scattered, since we have multiple properties here.
    - Do not put transitions on all links, it makes keyboard navigation feel slower. Instead, use transition animations on an individual basis e.g. skip-to-content

*/

/* Default */
@layer elements {
    a,
    button {
        text-decoration-skip-ink: auto;
        text-underline-position: under;
        text-decoration-color: var(--color-primary-accent);
        color: var(--color-link);
    }
}
@layer scope {
    .s-entry-content a:not(.c-btn) {
        font-weight: var(--font-family-main-weight-medium);
    }
}
/* GROUP ELEMENTS / FRAMEWORK / TEXT / LINK STYLES {/ LINKS} / ACCESSIBILITY / HOVER
=================================================== */
@layer scope {
    .s-entry-content a:not(.c-btn):hover {
        /* Change these */
        text-decoration-color: red;
        color: red;
    }
}
/* GROUP ELEMENTS / TEXT / LINK STYLES {/ LINKS} / ACCESSIBILITY / FOCUS
=================================================== */
@layer base {
    :is(a, button, summary):focus-visible,
    /* focus-visible on input so we don't cause an outline when ticking cookie choices */
    input:focus-visible,
    select:focus-visible,
    textarea:focus-visible {
        outline: 3px solid var(--color-focus);
        outline-offset: 3px;
    }
    /* ensure the focus outline is effective when a link is wrapped around a heading */
    a:has(> h2, h3, h4, h5, h6) {
        display: inline-block;
    }
    a:focus {
        p & {
            /* Offset for text */
            outline-offset: 5px;
        }
    }
}
